.tableBody{
padding: 15px;

}
h2{
    color: white;
}

.homeRef{
    text-decoration: none;
    color: whitesmoke;
}

.tbody-color{
   
    background: rgb(184, 179, 179);
   
}

.bodyAdmin{
    background: linear-gradient(50deg, rgba(88,18,93,100) 5%, rgba(31,33,104,20) 150%);
background-repeat: repeat;
background-size: cover;
height: 100vmax;
}



.FooterAdmin{
    margin-top: 80%;
}

.modalBody{
    background: red ;
}